
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* src/App.css */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7fafc;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #2d3748;
}

input {
  padding: 10px;
  margin-right: 10px;
  width: calc(100% - 20px);
}

button {
  padding: 10px;
  background-color: #1a202c;
  color: #fff;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #2d3748;
}

.BookList {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
}

.Book {
  border: 1px solid #cbd5e0;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.Book:hover {
  transform: scale(1.05);
}

